#### CARGANDO Y UNIENDO TABLAS

In [ ]:
# descargando base de datos desde la API
import pandas as pd
from sodapy import Socrata

MyAppToken = 'XxPaA2v4nbehTVhbmBwLdHosm'
client = Socrata('www.datos.gov.co', app_token=MyAppToken)
#configurando paginación
offset = 0
limit_per_request = 2000000
all_results = []
total_records = int(client.get("eh75-8ah6", select="COUNT(*)")[0]['COUNT'])
client.timeout=50
while offset < total_records:
    limit_per_request = min(limit_per_request, total_records - offset)
    results = client.get("eh75-8ah6", limit=limit_per_request, offset=offset)
    all_results.extend(results)
    offset += limit_per_request
    print(f"Descargados {len(all_results)} registros hasta ahora")

In [4]:

mitad = total_records // 2

# Cargar la primera mitad
df_primera_mitad = pd.DataFrame(all_results[:mitad])

# Cargar la segunda mitad, saltando los registros ya cargados
df_seg_mitad = pd.DataFrame(all_results[mitad:])

# Combinar los DataFrames
data = pd.concat([df_primera_mitad, df_seg_mitad], ignore_index=True)

In [20]:
# Cargando dataframe de los municipios 
df=pd.read_excel('DIVIPOLA_Municipios1.xlsx')

In [21]:

data_merged=data.merge(df,left_on='MUNICIPIO_ORIGEN_RUTA',right_on='Código_M') # Uniendo por las columnas en común para obtener municipios de origen
df1=data_merged.rename(columns={'Código_D':'CÓDIGO_DEP_ORIGEN',	'Departamento':'DEPARTAMENTO_ORIGEN',	'Código_M':'CÓDIGO_MUN_ORIGEN',	'Municipio':'MUNICIPIO_ORIGEN'})
df2=df1.merge(df,left_on='MUNICIPIO_DESTINO_RUTA',right_on='Código_M')  # Uniendo por las columnas en común para obtener municipios de destino

In [22]:
# Renonbrando columnas
df_merged=df2.rename(columns={'Código_D':'CÓDIGO_DEP_DESTINO',	'Departamento':'DEPARTAMENTO_DESTINO',	'Código_M':'CÓDIGO_MUN_DESTINO',	'Municipio':'MUNICIPIO_DESTINO'})

In [23]:
df=df_merged.drop(columns=['CÓDIGO_DEP_ORIGEN',
        'CÓDIGO_MUN_ORIGEN', 
        'CÓDIGO_DEP_DESTINO',
       'CÓDIGO_MUN_DESTINO','MUNICIPIO_ORIGEN_RUTA','MUNICIPIO_DESTINO_RUTA','LATITUD_x','LONGITUD_x','LATITUD_y','LONGITUD_y'])

In [25]:
df.head()

(21613532, 12)

In [26]:
#Exportando CSV

df.to_csv('dat.csv', index=False)

### MANIPULACIÓN DE DATOS Y GENERACIÓN DE TABLAS

In [27]:
# Cargando datos
import pandas as pd
df=pd.read_csv('dat.csv')

In [28]:
df

,TERMINAL,CLASE_VEHICULO,NIVEL_SERVICIO,FECHA_DESPACHO,HORA_DESPACHO,TIPO_DESPACHO,DESPACHOS,PASAJEROS,DEPARTAMENTO_ORIGEN,MUNICIPIO_ORIGEN,DEPARTAMENTO_DESTINO,MUNICIPIO_DESTINO
0,T.T. DE BOGOTÁ NORTE,MICROBUS,LUJO,03/01/2021 12:00:00 AM,8,TRANSITO,2,0,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",BOYACÁ,SOGAMOSO
1,T.T. DE BOGOTÁ SALITRE,BUS,LUJO,01/29/2021 12:00:00 AM,18,ORIGEN,5,31,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",BOYACÁ,SOGAMOSO
2,T.T. DE BOGOTÁ NORTE,MICROBUS,LUJO,08/11/2021 12:00:00 AM,5,TRANSITO,1,0,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",BOYACÁ,SOGAMOSO
3,T.T. DE BOGOTÁ NORTE,BUS,LUJO,08/14/2021 12:00:00 AM,7,TRANSITO,4,0,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",BOYACÁ,SOGAMOSO
4,T.T. DE BOGOTÁ SALITRE,BUS,LUJO,01/16/2021 12:00:00 AM,15,ORIGEN,4,15,"BOGOTÁ, D.C.","BOGOTÁ, D.C.",BOYACÁ,SOGAMOSO
...,...,...,...,...,...,...,...,...,...,...,...,...
21613527,T.T. DE YARUMAL,MICROBUS,LUJO,06/12/2023 12:00:00 AM,5,ORIGEN,1,0,ANTIOQUIA,YARUMAL,ANTIOQUIA,BRICEÑO
21613528,T.T. DE YARUMAL,MICROBUS,LUJO,06/27/2023 12:00:00 AM,12,ORIGEN,1,0,ANTIOQUIA,YARUMAL,ANTIOQUIA,BRICEÑO
21613529,T.T. DE YARUMAL,MICROBUS,LUJO,06/24/2023 12:00:00 AM,12,ORIGEN,1,0,ANTIOQUIA,YARUMAL,ANTIOQUIA,BRICEÑO
21613530,T.T. DE YARUMAL,MICROBUS,LUJO,06/11/2023 12:00:00 AM,9,ORIGEN,1,1,ANTIOQUIA,YARUMAL,ANTIOQUIA,BRICEÑO
21613531,T.T. DE YARUMAL,MICROBUS,LUJO,06/03/2023 12:00:00 AM,13,ORIGEN,1,0,ANTIOQUIA,YARUMAL,ANTIOQUIA,BRICEÑO

In [5]:
power_bi=df[df['PASAJEROS']>0]

In [ ]:
power_bi.to_csv('power.csv', index=False)

In [2]:
df.shape

(21613532, 12)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isna().sum()

In [29]:
df['FECHA_DESPACHO'] = pd.to_datetime(df['FECHA_DESPACHO'], errors='coerce')

df = df.dropna(subset=['FECHA_DESPACHO'])

C:\Users\pedro\AppData\Local\Temp\ipykernel_18392\3082314738.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['FECHA_DESPACHO'] = pd.to_datetime(df['FECHA_DESPACHO'], errors='coerce')

In [72]:
# Es importante notar que algunos despachos son realizados sin pasajeros. Por tanto, consideremos una mascara para analizar la situacion que nos compete dados los objetivos
despachos_departamentos_por_año = df[df['PASAJEROS']>0].groupby([df['FECHA_DESPACHO'].dt.year.astype(int), 'DEPARTAMENTO_ORIGEN'])['DESPACHOS'].sum().unstack(fill_value=0)

#### Despachos por departamentos de origen y año

In [31]:
despachos_departamentos_por_año=despachos_departamentos_por_año.T.rename_axis('DEPARTAMENTO_ORIGEN - DESPACHOS')

In [ ]:
despachos_departamentos_por_año

In [62]:
# Exportando a CSV 
despachos_departamentos_por_año.to_csv('despachos_departamentos_por_año.csv')

#### Crecimiento Anual de Despachos por departamento de origen

In [78]:
creci_anual = despachos_departamentos_por_año.pct_change().fillna(0)

In [79]:
creci_anual=creci_anual.T.drop(columns=[2019]).rename_axis('DEPARTAMENTO_ORIGEN - CRECIMIENTO ANUAL').rename_axis(columns='AÑO')

In [81]:
# Exportando a CSV 
creci_anual.to_csv('creci_anual.csv')

#### Despachos por departamento de origen y mes

In [84]:
despachos_mensuales_dptos = df[df['PASAJEROS']>0].groupby([df['FECHA_DESPACHO'].dt.month, 'DEPARTAMENTO_ORIGEN'])['DESPACHOS'].sum().unstack(fill_value=0)

In [85]:
despachos_mensuales_dptos = despachos_mensuales_dptos.T.rename_axis('DEPARTAMENTO_ORIGEN - DESPACHOS').rename_axis(columns='MES')

In [87]:
# Exportando a CSV 
despachos_mensuales_dptos.to_csv('despachos_mensuales_dptos.csv')

#### Rutas más populares

In [91]:
# tabla de rutas y número de pasajeros
ruta_pasajeros = df[df['PASAJEROS']>0].groupby(['MUNICIPIO_ORIGEN', 'MUNICIPIO_DESTINO'])['PASAJEROS'].sum().reset_index()

# Despachos por ruta
despachos_por_ruta = df[df['PASAJEROS']>0].groupby(['MUNICIPIO_ORIGEN', 'MUNICIPIO_DESTINO'])['DESPACHOS'].sum().reset_index()

# Combinar los DataFrames ruta_pasajeros y despachos_por_ruta
ruta_pasajeros = ruta_pasajeros.merge(despachos_por_ruta, on=['MUNICIPIO_ORIGEN', 'MUNICIPIO_DESTINO'])

# Renombrar la columna de 'DESPACHOS'
ruta_pasajeros.rename(columns={'DESPACHOS_x': 'PASAJEROS', 'DESPACHOS_y': 'DESPACHOS'}, inplace=True)

In [92]:
#Crear la columna RUTA
ruta_pasajeros['RUTA'] = ruta_pasajeros['MUNICIPIO_ORIGEN'] + ' - ' + ruta_pasajeros['MUNICIPIO_DESTINO']
# Eliminar las columnas 'MUNICIPIO_ORIGEN' y 'MUNICIPIO_DESTINO' 
ruta_pasajeros.drop(['MUNICIPIO_ORIGEN', 'MUNICIPIO_DESTINO'], axis=1, inplace=True)
ruta_pasajeros = ruta_pasajeros[['RUTA', 'PASAJEROS', 'DESPACHOS']]

In [93]:
rutas_populares=ruta_pasajeros.sort_values(ascending=False,by=['PASAJEROS','DESPACHOS'])

In [7]:
# Exportando CSV
rutas_populares
rutas_populares.to_csv('rutas_populares.csv')

#### Rutas con más despachos

In [94]:
rutas_mas_despachos=ruta_pasajeros.sort_values(ascending=False,by=['DESPACHOS','PASAJEROS'])

In [96]:
rutas_mas_despachos.to_csv('rutas_mas_despachos.csv')

#### Promedio Pasajeros por clase

In [97]:
tabla_pasajeros_por_clase = df[df['PASAJEROS']>0].groupby('CLASE_VEHICULO')['PASAJEROS'].mean().reset_index()
tabla_pasajeros_por_clase.columns = ['Clase de Vehículo', 'Promedio de Pasajeros']

In [98]:
tabla_pasajeros_por_clase

  Clase de Vehículo  Promedio de Pasajeros
0         AUTOMOVIL               6.338460
1               BUS              20.807416
2            BUSETA              13.846481
3         CAMIONETA              10.062529
4           CAMPERO              13.618815
5          MICROBUS              18.350750

In [99]:
tabla_pasajeros_por_clase.to_csv('tabla_pasajeros_por_clase.csv', index=False)

#### Despachos por dia

In [100]:
# Tabla Despachos por dias

dias_en_espanol = {
    'Monday': 'Lunes',
    'Tuesday': 'Martes',
    'Wednesday': 'Miércoles',
    'Thursday': 'Jueves',
    'Friday': 'Viernes',
    'Saturday': 'Sábado',
    'Sunday': 'Domingo'
}
tabla_despachos_dia_semana = df[df['PASAJEROS']>0].groupby(df['FECHA_DESPACHO'].dt.day_name().map(dias_en_espanol))['DESPACHOS'].sum().reset_index()
tabla_despachos_dia_semana.columns = ['Día de la Semana', 'Cantidad de Despachos']

tabla_despachos_dia_semana=tabla_despachos_dia_semana.sort_values(by='Cantidad de Despachos')

In [103]:
tabla_despachos_dia_semana.to_csv('tabla_despachos_dia_semana.csv', index=False)

#### Pasajeros por dia

In [107]:

dias_en_espanol = {
    'Monday': 'Lunes',
    'Tuesday': 'Martes',
    'Wednesday': 'Miércoles',
    'Thursday': 'Jueves',
    'Friday': 'Viernes',
    'Saturday': 'Sábado',
    'Sunday': 'Domingo'
}
tabla_pasajeros_dia_semana = df[df['PASAJEROS']>0].groupby(df['FECHA_DESPACHO'].dt.day_name().map(dias_en_espanol))['PASAJEROS'].sum().reset_index()
tabla_pasajeros_dia_semana.columns = ['Día de la Semana', 'Cantidad de pasajeros']

In [109]:
tabla_pasajeros_dia_semana=tabla_pasajeros_dia_semana.sort_values(ascending=False, by='Cantidad de pasajeros')

In [111]:
tabla_pasajeros_dia_semana.to_csv('tabla_pasajeros_dia_semana.csv', index=False)

#### Hora de despacho y cantidad de pasajeros

In [116]:
# Tabla de Hora de Despacho y Pasajeros
tabla_hora_pasajeros = df[df['PASAJEROS']>0].groupby('HORA_DESPACHO')['PASAJEROS'].sum().reset_index()

In [118]:
tabla_hora_pasajeros=tabla_hora_pasajeros.sort_values(ascending=False, by='PASAJEROS').reset_index(drop=True)

In [119]:
# Exportar a CSV
tabla_hora_pasajeros.to_csv('tabla_hora_pasajeros.csv', index=False)

#### Mes y cantidad de pasajeros

In [123]:
# Tabla de Despachos y Pasajeros por Mes
tabla_pasajeros_mes = df[df['PASAJEROS']>0].groupby(df['FECHA_DESPACHO'].dt.month)['PASAJEROS'].sum().reset_index()

In [124]:
tabla_pasajeros_mes.columns=['Mes','Pasajeros']

In [125]:
tabla_pasajeros_mes=tabla_pasajeros_mes.sort_values(ascending=False,by='Pasajeros')

In [127]:
tabla_pasajeros_mes.to_csv('tabla_pasajeros_mes.csv', index=False)

#### Nivel de servicio y cantidad de pasajeros

In [128]:
tabla_nivel_servicio_por_pasajeros = df[df['PASAJEROS']>0].groupby(['NIVEL_SERVICIO'])['PASAJEROS'].sum().reset_index()

In [130]:
tabla_nivel_servicio_por_pasajeros=tabla_nivel_servicio_por_pasajeros.sort_values(ascending=False,by='PASAJEROS')

In [131]:
tabla_nivel_servicio_por_pasajeros.to_csv('tabla_nivel_servicio_por_pasajeros.csv', index=False)

#### TIPO DE VEHÍCULO

In [143]:
pasajeros_por_tipo_vehi = df.groupby('CLASE_VEHICULO')['PASAJEROS'].sum()

pasajeros_por_tipo_vehi = pasajeros_por_tipo_vehi.sort_values(ascending=False)
df_pasajeros_por_tipo = pd.DataFrame(pasajeros_por_tipo_vehi)

# Renombrar la columna
df_pasajeros_por_tipo.rename(columns={'PASAJEROS': 'Total_Pasajeros'}, inplace=True)

In [151]:
df_pasajeros_por_tipo.to_csv('df_pasajeros_por_tipo.csv')